{% extends 'base.html' %}
{% load static %}
{% block content %}

    <header class="header v2" id="myHeader">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-6 col-md-4 col-lg-2">
                    <div class="logo">
                        <a href="index.html">
                            <img src="{% static 'assets/images/logo/logo.png' %}" class="img-fluid" alt="The cafe360 Logo Image">
                        </a>
                    </div>
                </div>
                <div class="col-6 col-md-8 col-lg-10">
                    <!-- Nav -->
                    <nav class="navbar navbar-expand-lg nabar-own p-0">
                        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon">
                            <span class="menu_line_1"></span>
                            <span class="menu_line_2"></span>
                            <span class="menu_line_3"></span>
                            </span>
                        </button>
                        <div class="collapse navbar-collapse tr-nabar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto align-self-center">
                                <li class="nav-item tr-nav-item"><a class="nav-link" href="#Recipes">Recipes</a>
                                </li>
                                <li class="nav-item tr-nav-item"><a class="nav-link" href="#Packages">Packages</a>
                                </li>
                                <li class="nav-item tr-nav-item"><a class="nav-link" href="#About">About</a>
                                </li>
                                <li class="nav-item tr-nav-item"><a class="nav-link" href="#Contact">Contact</a>
                                </li>
                            </ul>
                        <div class="header-search"><input type="text" class="form-control header-input" placeholder="Search" ><span class="search-icon"><i class="fas fa-search"></i></span><span class='close-icon'><i class='fas fa-times'></i></span></div></div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- End Header -->
    <!-- start slider section -->
    <section class="home-fullwidth-slider">
        <h1 class="d-none">hidden</h1>
        <div class="slider_fullwidth">
            <ul class="bx-slider_fullwidth p-0 carousel-inner" id="fullwidth_top_slider">
                <li class="tp-slide">
                    <div class="slider-content-inner">
                        <div class="slider_bg_image" style="background-image: url(assets/images/fullwidth-slider/slider-1.png);"></div>
                        <div class="bx-slide-caption container">
                            <div class="slider-tp-content text-center">
                                <span>Tasty & Healthy</span>
                                <h2>Food Made With Love!</h2>
                                <p class="mb-0 text-center-p" >cafe360 is a restaurant, bar and coffee roastery located on London. We have awesome recipes and the most talented chefs in town. </p>
                                <div class="slider-video-section mt-4 mt-md-5" >
                                    <div class="slider-obutton">
                                        <a href="javascript:void(0);" class="btn">Order Now</a>
                                    </div>
                                    <div class="slider-pbutton pl-3 pl-md-5">
                                        <a href="#exampleModalCenter" class="play-button" data-toggle="modal" data-target="#exampleModalCenter">
                                            <img src="{% static 'assets/images/silders/paly-icon.png' %}" alt="the Girl on the beach - best destination Image" >
                                        </a>
                                        <p class="mb-0 ml-4 text-white">Watch Our Story</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="tp-slide">
                    <div class="slider-content-inner">
                        <div class="slider_bg_image" style="background-image: url(assets/images/fullwidth-slider/slider-2.png);"></div>
                        <div class="bx-slide-caption container">
                            <div class="slider-tp-content text-center">
                                <span>Tasty & Healthy</span>
                                <h2>Food Made With Love!</h2>
                                <p class="mb-0 text-center-p" >cafe360 is a restaurant, bar and coffee roastery located on London. We have awesome recipes and the most talented chefs in town. </p>
                                <div class="slider-video-section mt-4 mt-md-5">
                                    <div class="slider-obutton">
                                        <a href="javascript:void(0);" class="btn">Order Now</a>
                                    </div>
                                    <div class="slider-pbutton pl-3 pl-md-5">
                                        <a href="#exampleModalCenter" class="play-button" data-toggle="modal" data-target="#exampleModalCenter">
                                            <img src="{% static 'assets/images/silders/paly-icon.png' %}" alt="the Girl on the beach - best destination Image" >
                                        </a>
                                        <p class="mb-0 ml-4 text-white">Watch Our Story</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <!-- END slider section -->

    <!-- start specialities section -->
    <section class="specialities position-relative mt-100" id="Recipes">
        <h2 class="d-none">hidden</h2>
        <div class="shape-image-one">
            <img src="{% static 'assets/images/background-shape/dottd-squre.png' %}" class="img-fluid" alt="the background decorated dotted square image">
        </div>
        <div class="container">
            <div class="row specialities-top">
                <div class="col-12 col-md-12 col-lg-12">
                    <div class="wow fadeInDown" data-wow-duration="2s" data-wow-delay=".4s">
                        <h2 class="mb-0">Our Specialities</h2>
                    </div>
                     <p class="wow fadeIn" data-wow-duration="2s" data-wow-delay=".4s">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit.</p>
                </div>
            </div>
            <div class="row specialities-section">
                <div class="col-12 col-md-6 col-lg-5">
                    <div class="specialities-image wow fadeInLeft" data-wow-duration="2s" data-wow-delay=".4s">
                        <img src="{% static 'assets/images/specialities/specialities1.png' %}" alt="find your best healthy food" >
                    </div>
                </div>
                <div class="col-12 col-lg-1 d-lg-block d-none p-0"></div>
                <div class="col-12 col-md-6 col-lg-6 p-lg-0 specialities-column">
                    <div class="wow fadeInRight" data-wow-duration="2s" data-wow-delay=".4s">
                        <h3 class="mb-0">Find the best healthy food<br>
                            from us</h3>
                    </div>
                    <p class="wow fadeIn mb-0" data-wow-duration="2s" data-wow-delay=".4s">
                        Slightly believable here are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in top some form, by injected humour, or randomised words which is to don't look even.</p>
                </div>
            </div>
            <div class="row specialities-section">
                <div class="col-12 col-md-6 col-lg-6 p-lg-0 specialities-column specialities-middle">
                    <div class="wow fadeInLeft" data-wow-duration="2s" data-wow-delay=".4s">
                        <h3 class="mb-0"> The most attractive dishes<br>
                            for you</h3>
                    </div>
                    <p class="wow fadeIn mb-0" data-wow-duration="2s" data-wow-delay=".4s">
                        Slightly believable here are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in top some form, by injected humour, or randomised words which is to don't look even.</p>
                </div>
                <div class="col-12 col-lg-1 d-lg-block d-none p-0"></div>
                <div class="col-12 col-md-6 col-lg-5">
                     <div class="specialities-image wow fadeInRight" data-wow-duration="2s" data-wow-delay=".4s">
                        <img src="{% static 'assets/images/specialities/specialities2.png' %}" alt="attractive dish for yoy" >
                    </div>
                </div>
            </div>
            <div class="row specialities-section">
                <div class="col-12 col-md-6 col-lg-5">
                     <div class="specialities-image wow fadeInLeft" data-wow-duration="2s" data-wow-delay=".4s">
                        <img src="{% static 'assets/images/specialities/specialities3.png' %}" alt="home delivery dishes" >
                    </div>
                </div>
                <div class="col-12 col-lg-1 d-lg-block d-none p-0"></div>
                <div class="col-12 col-md-6 col-lg-6 p-lg-0 specialities-column">
                    <div class="wow fadeInRight" data-wow-duration="2s" data-wow-delay=".4s">
                        <h3 class="mb-0"> Super fast home delivery<br>
                            service</h3>
                    </div>
                    <p class="wow fadeIn mb-0" data-wow-duration="2s" data-wow-delay=".4s">
                        Slightly believable here are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in top some form, by injected humour, or randomised words which is to don't look even.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- END specialities section -->

    <!-- start our item section -->
    <section class="our-item-section position-relative" id="Packages">
        <h2 class="d-none">hidden</h2>
         <div class="shape-image-two">
            <img src="{% static 'assets/images/background-shape/dottd-squre.png' %}" class="img-fluid" alt="the background decorated image">
        </div>
        <div class="container">
            <div class="row specialities-top">
                <div class="col-12 col-md-12 col-lg-12">
                    <div class="wow fadeInDown" data-wow-duration="2s" data-wow-delay=".4s">
                        <h2 class="mb-0">Top Item's We Have</h2>
                    </div>
                     <p class="wow fadeIn" data-wow-duration="2s" data-wow-delay=".4s">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit.</p>
                </div>
            </div>
            <div class="row mx-md-0">
                <div class="col-12 col-md-4 col-lg-3 p-lg-0">
                    <ul class="our-item-tab nav nav-tabs flex-column pl-0 wow fadeIn" data-wow-duration="2s" data-wow-delay=".4s">
                      <li class="nav-item">
                        <a class="nav-link active" href="#Breakfast" data-toggle="tab">Breakfast</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#Launch" data-toggle="tab">Launch</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#Dinner" data-toggle="tab">Dinner</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#Dessert" data-toggle="tab">Dessert</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#Shake" data-toggle="tab">Shake</a>
                      </li>
                    </ul>
                </div>
                <div class="col-12 col-lg-1 d-lg-block d-none p-0"></div>
                <div class="col-12 col-md-8 col-lg-8 p-lg-0">
                    <div class="tab-content " id="tabs">
                        <div class="tab-pane active" id="Breakfast">
                            <div class="our-item-slider breakfast-slider">
                                 <div class="our-item">
                                    <div class="our-item-inner">
                                        <div class="wow fadeInRight" data-wow-duration="2s" data-wow-delay=".4s">
                                            <h3 class="mb-0"> Bread buuter with zam<br>
                                                        and milk shake</h3>
                                        </div>
                                        <div class="item_order">
                                            <p class="wow fadeIn mb-0" data-wow-duration="2s" data-wow-delay=".4s">
                                                Slightly believable here are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in top some form, by injected humour, or randomised words which is to don't look even .</p>
                                            <div class="our-item-button wow fadeIn" data-wow-duration="2s" data-wow-delay=".4s">
                                                    <button class="btn">Order Now</button>
                                            </div>
                                        </div>
                                        <div class="our-item-image wow fadeIn" data-wow-duration="2s" data-wow-delay=".4s">
                                            <img src="{% static 'assets/images/our-item/breakfast/breakfast-2.png' %}" alt="pasta ieth tomato and chiken source" >
                                            <div class="item-price">$20</div>
                                        </div>
                                    </div>
                                 </div>
                                 <div class="our-item">
                                    <div class="our-item-inner">
                                        <div class="wow fadeInRight" data-wow-duration="2s" data-wow-delay=".4s">
                                            <h3 class="mb-0"> Milk in the fruite and zam <br>
                                                        Tomato Paniyaram</h3>
                                        </div>
                                        <div class="item_order">
                                            <p class="wow fadeIn mb-0" data-wow-duration="2s" data-wow-delay=".4s">
                                                Slightly believable here are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in top some form, by injected humour, or randomised words which is to don't look even .</p>
                                            <div class="our-item-button wow fadeIn" data-wow-duration="2s" data-wow-delay=".4s">
                                                    <button class="btn">Order Now</button>
                                            </div>
                                        </div>
                                        <div class="our-item-image wow fadeIn" data-wow-duration="2s" data-wow-delay=".4s">
                                            <img src="{% static 'assets/images/our-item/breakfast/breakfast-1.png' %}" alt="pasta ieth tomato and chiken source" >
                                            <div class="item-price">$20</div>
                                        </div>
                                    </div>
                                 </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="Launch">
                            <div class="our-item-slider launch-slider">
                                <div class="our-item">
                                    <div class="our-item-inner">
                                        <div class="wow fadeInRight" data-wow-duration="2s" data-wow-delay=".4s">
                                            <h3 class="mb-0">South Indian Chicken <br>
                                                        and anjir dishes</h3>
                                        </div>
                                        <div class="item_order">
                                            <p class="wow fadeIn mb-0" data-wow-duration="2s" data-wow-delay=".4s">
                                                Slightly believable here are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in top some form, by injected humour, or randomised words which is to don't look even .</p>
                                            <div class="our-item-button wow fadeIn" data-wow-duration="2s" data-wow-delay=".4s">
                                                    <button class="btn">Order Now</button>
                                            </div>
                                        </div>
                                        <div class="our-item-image wow fadeIn" data-wow-duration="2s" data-wow-delay=".4s">
                                            <img src="{% static 'assets/images/our-item/launch/launch-1.png' %}" alt="pasta ieth tomato and chiken source" >
                                            <div class="item-price">$20</div>
                                        </div>
                                    </div>
                                 </div>
                                 <div class="our-item">
                                    <div class="our-item-inner">
                                        <div class="wow fadeInRight" data-wow-duration="2s" data-wow-delay=".4s">
                                            <h3 class="mb-0">Schezuan Pepper Spiced South<br>
                                                        and Indian 'sundal'</h3>
                                        </div>
                                        <div class="item_order">
                                            <p class="wow fadeIn mb-0" data-wow-duration="2s" data-wow-delay=".4s">
                                                Slightly believable here are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in top some form, by injected humour, or randomised words which is to don't look even .</p>
                                            <div class="our-item-button wow fadeIn" data-wow-duration="2s" data-wow-delay=".4s">
                                                    <button class="btn">Order Now</button>
                                            </div>
                                        </div>
                                        <div class="our-item-image wow fadeIn" data-wow-duration="2s" data-wow-delay=".4s">
                                            <img src="{% static 'assets/images/our-item/launch/launch-2.png' %}" alt="pasta ieth tomato and chiken source" >
                                            <div class="item-price">$20</div>
                                        </div>
                                    </div>
                                 </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="Dinner">
                            <div class="our-item-slider dinner-slider">
                                <div class="our-item">
                                    <div class="our-item-inner">
                                        <div class="wow fadeInRight" data-wow-duration="2s" data-wow-delay=".4s">
                                            <h3 class="mb-0"> Pasta in the shape of hearts with chicken<br>
                                                        Guilt-Free Galouti Kebab</h3>
                                        </div>
                                        <div class="item_order">
                                            <p class="wow fadeIn mb-0" data-wow-duration="2s" data-wow-delay=".4s">
                                                Slightly believable here are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in top some form, by injected humour, or randomised words which is to don't look even .</p>
                                            <div class="our-item-button wow fadeIn" data-wow-duration="2s" data-wow-delay=".4s">
                                                    <button class="btn">Order Now</button>
                                            </div>
                                        </div>
                                        <div class="our-item-image wow fadeIn" data-wow-duration="2s" data-wow-delay=".4s">
                                            <img src="{% static 'assets/images/our-item/dinner/dinner-1.png' %}" alt="pasta ieth tomato and chiken source" >
                                            <div class="item-price">$20</div>
                                        </div>
                                    </div>
                                 </div>
                                 <div class="our-item">
                                    <div class="our-item-inner">
                                        <div class="wow fadeInRight" data-wow-duration="2s" data-wow-delay=".4s">
                                            <h3 class="mb-0"> Keema Biryani with Makhmali Kofte<br>
                                                        Ajwaini Paneer Kofta Curry </h3>
                                        </div>
                                        <div class="item_order">
                                            <p class="wow fadeIn mb-0" data-wow-duration="2s" data-wow-delay=".4s">
                                                Slightly believable here are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in top some form, by injected humour, or randomised words which is to don't look even .</p>
                                            <div class="our-item-button wow fadeIn" data-wow-duration="2s" data-wow-delay=".4s">
                                                    <button class="btn">Order Now</button>
                                            </div>
                                        </div>
                                        <div class="our-item-image wow fadeIn" data-wow-duration="2s" data-wow-delay=".4s">
                                            <img src="{% static 'assets/images/our-item/dinner/dinner-2.png' %}" alt="pasta ieth tomato and chiken source" >
                                            <div class="item-price">$20</div>
                                        </div>
                                    </div>
                                 </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="Dessert">
                            <div class="our-item-slider dessert-slider">
                                <div class="our-item">
                                    <div class="our-item-inner">
                                        <div class="wow fadeInRight" data-wow-duration="2s" data-wow-delay=".4s">
                                            <h3 class="mb-0"> Butterfinger Cookie Cheesecake Bars<br>
                                                        and Meyer Lemon Bars</h3>
                                        </div>
                                        <div class="item_order">
                                            <p class="wow fadeIn mb-0" data-wow-duration="2s" data-wow-delay=".4s">
                                                Slightly believable here are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in top some form, by injected humour, or randomised words which is to don't look even .</p>
                                            <div class="our-item-button wow fadeIn" data-wow-duration="2s" data-wow-delay=".4s">
                                                    <button class="btn">Order Now</button>
                                            </div>
                                        </div>
                                        <div class="our-item-image wow fadeIn" data-wow-duration="2s" data-wow-delay=".4s">
                                            <img src="{% static 'assets/images/our-item/dessert/dessert-1.png' %}" alt="pasta ieth tomato and chiken source" >
                                            <div class="item-price">$20</div>
                                        </div>
                                    </div>
                                 </div>
                                 <div class="our-item">
                                    <div class="our-item-inner">
                                        <div class="wow fadeInRight" data-wow-duration="2s" data-wow-delay=".4s">
                                            <h3 class="mb-0"> Chocolate Chip Cookies With Nutella<br>
                                                        and Brown Butter And Sea Salt</h3>
                                        </div>
                                        <div class="item_order">
                                            <p class="wow fadeIn mb-0" data-wow-duration="2s" data-wow-delay=".4s">
                                                Slightly believable here are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in top some form, by injected humour, or randomised words which is to don't look even .</p>
                                            <div class="our-item-button wow fadeIn" data-wow-duration="2s" data-wow-delay=".4s">
                                                    <button class="btn">Order Now</button>
                                            </div>
                                        </div>
                                        <div class="our-item-image wow fadeIn" data-wow-duration="2s" data-wow-delay=".4s">
                                            <img src="{% static 'assets/images/our-item/dessert/dessert-2.png' %}" alt="pasta ieth tomato and chiken source" >
                                            <div class="item-price">$20</div>
                                        </div>
                                    </div>
                                 </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="Shake">
                            <div class="our-item-slider shake-slider">
                                <div class="our-item">
                                    <div class="our-item-inner">
                                        <div class="wow fadeInRight" data-wow-duration="2s" data-wow-delay=".4s">
                                            <h3 class="mb-0"> Olive Oil–Almond<br>
                                                        and Mocha-Hazelnut</h3>
                                        </div>
                                        <div class="item_order">
                                            <p class="wow fadeIn mb-0" data-wow-duration="2s" data-wow-delay=".4s">
                                                Slightly believable here are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in top some form, by injected humour, or randomised words which is to don't look even .</p>
                                            <div class="our-item-button wow fadeIn" data-wow-duration="2s" data-wow-delay=".4s">
                                                    <button class="btn">Order Now</button>
                                            </div>
                                        </div>
                                        <div class="our-item-image wow fadeIn" data-wow-duration="2s" data-wow-delay=".4s">
                                            <img src="{% static 'assets/images/our-item/shake/shake-1.png' %}" alt="pasta ieth tomato and chiken source" >
                                            <div class="item-price">$20</div>
                                        </div>
                                    </div>
                                 </div>
                                 <div class="our-item">
                                    <div class="our-item-inner">
                                        <div class="wow fadeInRight" data-wow-duration="2s" data-wow-delay=".4s">
                                            <h3 class="mb-0">Triple Chocolate Stripe<br>
                                                        with Peach Melba</h3>
                                        </div>
                                        <div class="item_order">
                                            <p class="wow fadeIn mb-0" data-wow-duration="2s" data-wow-delay=".4s">
                                                Slightly believable here are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in top some form, by injected humour, or randomised words which is to don't look even .</p>
                                            <div class="our-item-button wow fadeIn" data-wow-duration="2s" data-wow-delay=".4s">
                                                    <button class="btn">Order Now</button>
                                            </div>
                                        </div>
                                        <div class="our-item-image wow fadeIn" data-wow-duration="2s" data-wow-delay=".4s">
                                            <img src="{% static 'assets/images/our-item/shake/shake-1.png' %}" alt="pasta ieth tomato and chiken source" >
                                            <div class="item-price">$20</div>
                                        </div>
                                    </div>
                                 </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END our item section -->

    <!-- start testimonials section -->
    <section class="testimonials position-relative">
        <h2 class="d-none">hidden</h2>
         <div class="shape-image-three">
            <img src="{% static 'assets/images/background-shape/dottd-squre.png' %}" class="img-fluid" alt="dotts background image in testiomonial">
        </div>
        <div class="container">
            <div class="row specialities-top">
                <div class="col-12 col-md-12 col-lg-12">
                    <div class="wow fadeInDown" data-wow-duration="2s" data-wow-delay=".4s">
                        <h2 class="mb-0">Our Happy User</h2>
                    </div>
                     <p class="wow fadeIn" data-wow-duration="2s" data-wow-delay=".4s">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-12 col-lg-6">
                    <div id="testimonials-slider-pager">
                        <div class="testimonials-slider-pager-one">
                            <a href="javascript:void(0);" class="pager-item" data-slide-index="0"><img src="{% static 'assets/images/testiomonial/t-1.png' %}" class="img-fluid" alt="Sukh Kaur | Client Image"></a>
                            <a href="javascript:void(0);" class="pager-item " data-slide-index="1"><img src="{% static 'assets/images/testiomonial/t-2.png' %}" class="img-fluid" alt="Ricardo Mendes | Client Image"></a>
                            <a href="javascript:void(0);" class="pager-item" data-slide-index="2"><img src="{% static 'assets/images/testiomonial/t-3.png' %}" class="img-fluid" alt="Nick Carney | Client Image"></a>
                        </div>

                        <div class="testimonials-slider-pager-two">
                            <a href="javascript:void(0);" class="pager-item " data-slide-index="3"><img src="{% static 'assets/images/testiomonial/t-4.png' %}" class="img-fluid" alt="Plixail | Client Image"></a>
                            <a href="javascript:void(0);" class="pager-item" data-slide-index="4"><img src="{% static 'assets/images/testiomonial/t-5.png' %}" class="img-fluid" alt="Brandon Mahilios | Client Image"></a>
                            <a href="javascript:void(0);" class="pager-item" data-slide-index="5"><img src="{% static 'assets/images/testiomonial/t-6.png' %}" class="img-fluid" alt="Clara Maria | Client Image"></a>
                        </div>
                        <div class="testimonials-slider-pager-three">
                            <a href="javascript:void(0);" class="pager-item" data-slide-index="0"><img src="{% static 'assets/images/testiomonial/t-1.png' %}" class="img-fluid" alt="Sukh Kaur | Client Image"></a>
                            <a href="javascript:void(0);" class="pager-item " data-slide-index="1"><img src="{% static 'assets/images/testiomonial/t-2.png' %}" class="img-fluid" alt="Ricardo Mendes | Client Image"></a>
                            <a href="javascript:void(0);" class="pager-item" data-slide-index="2"><img src="{% static 'assets/images/testiomonial/t-3.png' %}" class="img-fluid" alt="Nick Carney | Client Image"></a>
                            <a href="javascript:void(0);" class="pager-item" data-slide-index="3"><img src="{% static 'assets/images/testiomonial/t-4.png' %}" class="img-fluid" alt="Plixail | Client Image"></a>
                            <a href="javascript:void(0);" class="pager-item" data-slide-index="4"><img src="{% static 'assets/images/testiomonial/t-5.png' %}" class="img-fluid" alt="Brandon Mahilios | Client Image"></a>
                            <a href="javascript:void(0);" class="pager-item" data-slide-index="5"><img src="{% static 'assets/images/testiomonial/t-6.png' %}" class="img-fluid" alt="Clara Maria | Client Image"></a>

                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-6">
                    <ul class="slider testimonials-slider wow fadeInwow fadeIn" data-wow-duration="2s" data-wow-delay=".4s">
                        <li class="slide-item" >
                            <div class="quote-image"><img src="{% static 'assets/images/testiomonial/quote-left.png' %}" class="img-fluid" alt="testimonials first quotes images"></div>
                            <div class="single-testi-one">
                               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                               </p>
                               <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                               </p>
                               <h3 class="mb-0">Shofia Anderson</h3>
                               <span>CEO, Cafe Dine </span>
                            </div>
                         </li>
                         <li class="slide-item" >
                            <div class="quote-image"><img src="{% static 'assets/images/testiomonial/quote-left.png' %}" class="img-fluid" alt="testimonials second quotes images"></div>
                            <div class="single-testi-one">
                               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                               </p>
                               <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                               </p>
                               <h3 class="mb-0">Shofia Anderson</h3>
                               <span>CEO, Cafe Dine </span>
                            </div>
                         </li>
                         <li class="slide-item" >
                            <div class="quote-image"><img src="{% static 'assets/images/testiomonial/quote-left.png' %}" class="img-fluid" alt="testimonials Third quotes images"></div>
                            <div class="single-testi-one">
                               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                               </p>
                               <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                               </p>
                               <h3 class="mb-0">Shofia Anderson</h3>
                               <span>CEO, Cafe Dine </span>
                            </div>
                         </li>
                         <li class="slide-item" >
                            <div class="quote-image"><img src="{% static 'assets/images/testiomonial/quote-left.png' %}" class="img-fluid" alt="testimonials fourth quotes images"></div>
                            <div class="single-testi-one">
                               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                               </p>
                               <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                               </p>
                               <h3 class="mb-0">Shofia Anderson</h3>
                               <span>CEO, Cafe Dine </span>
                            </div>
                         </li>
                         <li class="slide-item" >
                            <div class="quote-image"><img src="{% static 'assets/images/testiomonial/quote-left.png' %}" class="img-fluid" alt="testimonials five quotes images"></div>
                            <div class="single-testi-one">
                               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                               </p>
                               <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                               </p>
                               <h3 class="mb-0">Shofia Anderson</h3>
                               <span>CEO, Cafe Dine </span>
                            </div>
                         </li>
                        <li class="slide-item" >
                            <div class="quote-image"><img src="{% static 'assets/images/testiomonial/quote-left.png' %}" class="img-fluid" alt="testimonials six quotes images"></div>
                            <div class="single-testi-one">
                               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                               </p>
                               <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                               </p>
                               <h3 class="mb-0">Shofia Anderson</h3>
                               <span>CEO, Cafe Dine </span>
                            </div>
                         </li>

                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- End testimonials section testimonials -->

    <!-- start chef section -->
    <section class="chef-section position-relative" id="About">
        <h2 class="d-none">hidden</h2>
        <div class="shape-image-four">
            <img src="{% static 'assets/images/background-shape/dottd-squre.png' %}" class="img-fluid" alt="the background decorated dotted chef square image">
        </div>
        <div class="container position-relative">
            <div class="row specialities-top">
                <div class="col-12 col-md-12 col-lg-12">
                    <div class="wow fadeInDown" data-wow-duration="2s" data-wow-delay=".4s">
                        <h2 class="mb-0">Meet Our Great Chefs</h2>
                    </div>
                     <p class="wow fadeIn" data-wow-duration="2s" data-wow-delay=".4s">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit.</p>
                </div>
            </div>
            <div class="chef-slider">
                <div class="chef-slider-inner">
                    <div class="row mx-lg-0">
                        <div class="col-12 col-md-4 col-lg-4 p-0">
                            <div class="chef-image wow fadeInLeft" data-wow-duration="2s" data-wow-delay=".4s">
                                <img src="{% static 'assets/images/chef/chef-1.png' %}" alt="meet our top level great chef" >
                            </div>
                        </div>
                        <div class="col-12 col-md-1 col-lg-1 p-lg-0 d-lg-block d-none">
                        </div>
                        <div class="col-12 col-md-8 col-lg-7 p-lg-0">
                            <div class="chef-content wow fadeIn" data-wow-duration="2s" data-wow-delay=".4s">
                                <h3 class="mb-0">Magic chef ready to cook a new dish</h3>
                                <p class="wow fadeIn" data-wow-duration="2s" data-wow-delay=".4s">Slightly believable here are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in top some form, by injected humour, or randomised words which is to don't look even.</p>
                                <p class="wow fadeIn" data-wow-duration="2s" data-wow-delay=".4s">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                <div class="chef-name">Jemmy Deniza</div>
                                <span>Senior Chef, Cafe 360.</span>
                                <div class="social-share">
                                    <a class="fb-ic" href="javascript:void(0);">
                                        <i class="fab fa-facebook-f  mr-4"> </i>
                                    </a>
                                    <a class="tw-ic" href="javascript:void(0);">
                                        <i class="fab fa-twitter  mr-4"> </i>
                                    </a>
                                    <a class="ins-ic" href="javascript:void(0);">
                                        <i class="fab fa-instagram  mr-4"> </i>
                                    </a>
                                    <a class="pin-ic" href="javascript:void(0);">
                                        <i class="fab fa-pinterest  mr-4"> </i>
                                    </a>
                                    <a class="sn-ic" href="javascript:void(0);">
                                      <i class="fab fa-snapchat  mr-4"> </i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="chef-slider-inner">
                    <div class="row mx-lg-0">
                        <div class="col-12 col-md-4 col-lg-4 p-0">
                            <div class="chef-image wow fadeInLeft" data-wow-duration="2s" data-wow-delay=".4s">
                                <img src="{% static 'assets/images/chef/chef-2.png' %}" alt="meet our best  great chef in cafe" >
                            </div>
                        </div>
                        <div class="col-12 col-md-1 col-lg-1 p-lg-0 d-lg-block d-none">
                        </div>
                        <div class="col-12 col-md-8 col-lg-7 p-lg-0">
                            <div class="chef-content wow fadeIn" data-wow-duration="2s" data-wow-delay=".4s">
                                <h3 class="mb-0">Chef made a new butter dish</h3>
                                <p class="wow fadeIn" data-wow-duration="2s" data-wow-delay=".4s">Slightly believable here are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in top some form, by injected humour, or randomised words which is to don't look even.</p>
                                <p class="wow fadeIn" data-wow-duration="2s" data-wow-delay=".4s">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                <div class="chef-name">Shell Desuza</div>
                                <span>Senior Chef, Cafe 360.</span>
                                <div class="social-share">
                                    <a class="fb-ic" href="javascript:void(0);">
                                        <i class="fab fa-facebook-f  mr-4"> </i>
                                    </a>
                                    <a class="tw-ic" href="javascript:void(0);">
                                        <i class="fab fa-twitter  mr-4"> </i>
                                    </a>
                                    <a class="ins-ic" href="javascript:void(0);">
                                        <i class="fab fa-instagram  mr-4"> </i>
                                    </a>
                                    <a class="pin-ic" href="javascript:void(0);">
                                        <i class="fab fa-pinterest  mr-4"> </i>
                                    </a>
                                    <a class="sn-ic" href="javascript:void(0);">
                                      <i class="fab fa-snapchat  mr-4"> </i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END chef section -->
    <!--start email-subscription-->
    <section class="email-subscription position-relative" id="Contact">
        <div class="container">
             <div class="row specialities-top">
                <div class="col-12 col-md-12 col-lg-12">
                    <div class="wow fadeInDown" data-wow-duration="2s" data-wow-delay=".4s">
                        <h2 class="mb-0">Want to get the latest update?</h2>
                    </div>
                     <p class="wow fadeIn" data-wow-duration="2s" data-wow-delay=".4s">There are many variations of passagessuffered alteration or eipsum dolor sit amet, consectetur adipiscing elit, sed do teiusmod tempor.<br>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit.</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-6">

                </div>
            </div>
        </div>
    </section>
    <!--END  email-subscription-->

    <!--start download app-->
    <section class="download-app-section">
        <div class="container">
            <div class="row specialities-top">
                <div class="col-12 col-md-12 col-lg-12">
                    <div class="wow fadeInDown" data-wow-duration="2s" data-wow-delay=".4s">
                        <h2 class="mb-0">Download our App Today & Experience <br>Endless Possibilities</h2>
                    </div>
                    <p class="wow fadeIn" data-wow-duration="2s" data-wow-delay=".4s">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit.</p>
                    <div class="download-button text-center">
                        <button class="btn">DOWNLOAD APP</button>
                    </div>
                </div>
             </div>
        </div>
    </section>
    <!--end download app-->
{% endblock %}
